.movies-card {
    margin: 0;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    line-height: normal;
}

.movies-card__img {
    display: block;
    width: 270px;

    height: 151px;
    flex-shrink: 0;
}

.movies-card__container {
    margin: 0;
    background-color: #222222;
}

.movies-card__signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies-card__title {
    max-width: 206px;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    padding: 14px 0 10px 12px;
}

.movies-card__label {
    display: flex;
    justify-content: center;
    border: none;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    padding: 0;
    margin-right: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #222222;
}

.movies-card__label-img {
    margin: 0;
    object-fit: contain;
}
.movies-card__label-img:hover {
    cursor: pointer;
}

.movies-card__duration {
    display: block;
    color: #8B8B8B;
    font-size: 11px;
    font-weight: 400;
    padding-left: 12px;
    padding-bottom: 14px;
}

.movies-card__button {
    margin: 80px auto 80px;
    width: 320px;
    height: 36px;

    border-radius: 6px;
    border: 1px solid #424242;
    background-color: #424242;
    display: flex;

    text-align: center;
    justify-content: center;
    flex-shrink: 0;
}

.movies-card__button:hover {
    cursor: pointer;
}

.movies-card__button-text {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media(max-width: 768px) {
    .movies-card {
        max-width: 339px;
    }

    .movies-card__img {
        width: 339px;
        height: 190px;
    }
}

@media(max-width: 320px) {
    .movies-card__img {
        width: 300px;
        height: 168px;
    }
}